/Adulto.class
/Atracciones.class
/Cliente.class
/Empleado.class
/Entrada.class
/Estadisticas.class
/Menu.class
/Nino.class
/Senior.class
/TipoA.class
/TipoB.class
/TipoC.class
/TipoD.class
/TipoE.class
/parque.class
